prune girder_wholetale/web_client
include girder_wholetale/web_client/dist/girder-plugin-wholetale.umd.cjs
include girder_wholetale/web_client/dist/style.css
include girder_wholetale/lib/dataverse/installations.json
prune girder_wholetale/tests
exclude girder_wholetalet/tests
global-prune *.yaml
global-exclude *.yaml
prune scripts
exclude scripts
exclude codecov.yml MANIFEST.in requirements-dev.txt tox.ini
prune codecov.yml MANIFEST.in requirements-dev.txt tox.ini
