interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dataverse.harvard.edu/api/datasets/:persistentId?persistentId=doi:10.7910/DVN/TJCLKP
  response:
    body:
      string: '{"status":"OK","data":{"id":3035124,"identifier":"DVN/TJCLKP","persistentUrl":"https://doi.org/10.7910/DVN/TJCLKP","protocol":"doi","authority":"10.7910","publisher":"Harvard
        Dataverse","publicationDate":"2017-07-06","storageIdentifier":"s3://10.7910/DVN/TJCLKP","latestVersion":{"id":337724,"datasetId":3035124,"datasetPersistentId":"doi:10.7910/DVN/TJCLKP","storageIdentifier":"s3://10.7910/DVN/TJCLKP","versionNumber":4,"versionMinorNumber":0,"versionState":"RELEASED","UNF":"UNF:6:e9+1ZqpZtjCuBzTDSrsHgA==","lastUpdateTime":"2023-01-03T21:06:41Z","releaseTime":"2023-01-03T21:06:41Z","createTime":"2023-01-03T20:51:59Z","publicationDate":"2017-07-06","citationDate":"2017-07-06","license":{"name":"CC0
        1.0","uri":"http://creativecommons.org/publicdomain/zero/1.0","iconUri":"https://licensebuttons.net/p/zero/1.0/88x31.png"},"fileAccessRequest":false,"metadataBlocks":{"citation":{"displayName":"Citation
        Metadata","name":"citation","fields":[{"typeName":"title","multiple":false,"typeClass":"primitive","value":"Open
        Source at Harvard"},{"typeName":"author","multiple":true,"typeClass":"compound","value":[{"authorName":{"typeName":"authorName","multiple":false,"typeClass":"primitive","value":"Durbin,
        Philip"},"authorAffiliation":{"typeName":"authorAffiliation","multiple":false,"typeClass":"primitive","value":"Harvard
        University"},"authorIdentifierScheme":{"typeName":"authorIdentifierScheme","multiple":false,"typeClass":"controlledVocabulary","value":"ORCID"},"authorIdentifier":{"typeName":"authorIdentifier","multiple":false,"typeClass":"primitive","value":"0000-0002-9528-9470"}}]},{"typeName":"datasetContact","multiple":true,"typeClass":"compound","value":[{"datasetContactName":{"typeName":"datasetContactName","multiple":false,"typeClass":"primitive","value":"Durbin,
        Philip"},"datasetContactAffiliation":{"typeName":"datasetContactAffiliation","multiple":false,"typeClass":"primitive","value":"Harvard
        University"},"datasetContactEmail":{"typeName":"datasetContactEmail","multiple":false,"typeClass":"primitive","value":"philip_durbin@harvard.edu"}}]},{"typeName":"dsDescription","multiple":true,"typeClass":"compound","value":[{"dsDescriptionValue":{"typeName":"dsDescriptionValue","multiple":false,"typeClass":"primitive","value":"The
        tabular file contains information on known Harvard repositories on GitHub,
        such as the number of stars, programming language, day last updated, number
        of open issues, size, number of forks, repository URL, create date, and description.
        Each repository has a corresponding JSON file (see primary-data.zip) that
        was retrieved using the GitHub API with code and a list of repositories available
        from <a href=\"https://github.com/IQSS/open-source-at-harvard\">https://github.com/IQSS/open-source-at-harvard</a>."}}]},{"typeName":"subject","multiple":true,"typeClass":"controlledVocabulary","value":["Social
        Sciences"]},{"typeName":"depositor","multiple":false,"typeClass":"primitive","value":"Durbin,
        Philip"},{"typeName":"dateOfDeposit","multiple":false,"typeClass":"primitive","value":"2017-07-06"}]}},"files":[{"description":"Information
        on known Harvard repositories on GitHub, such as the number of stars, programming
        language, day last updated, number of open issues, size, number of forks,
        repository URL, create date, and description.","label":"2023-01-03.tab","restricted":false,"directoryLabel":"data","version":5,"datasetVersionId":337724,"dataFile":{"id":6867331,"persistentId":"","filename":"2023-01-03.tab","contentType":"text/tab-separated-values","friendlyType":"Tab-Delimited","filesize":21865,"description":"Information
        on known Harvard repositories on GitHub, such as the number of stars, programming
        language, day last updated, number of open issues, size, number of forks,
        repository URL, create date, and description.","storageIdentifier":"s3://dvn-cloud:1857969e99e-4f2e20cc0a46","originalFileFormat":"text/tsv","originalFormatLabel":"Tab-Separated
        Values","originalFileSize":21119,"originalFileName":"2023-01-03.tsv","UNF":"UNF:6:e9+1ZqpZtjCuBzTDSrsHgA==","rootDataFileId":3035125,"previousDataFileId":3371438,"md5":"6fd497bf13dab9a06fe737ebc22f1917","checksum":{"type":"MD5","value":"6fd497bf13dab9a06fe737ebc22f1917"},"tabularData":true,"creationDate":"2023-01-03","publicationDate":"2023-01-03","fileAccessRequest":false}},{"description":"Creates
        a TSV file with the language and repo URL.","label":"language.py","restricted":false,"directoryLabel":"code","version":2,"datasetVersionId":337724,"dataFile":{"id":6867336,"persistentId":"","filename":"language.py","contentType":"text/x-python-script","friendlyType":"Python
        Source Code","filesize":590,"description":"Creates a TSV file with the language
        and repo URL.","storageId[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://dataverse.harvard.edu/api/access/datafile/6867331?format=original
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
      Location:
      - https://dvn-cloud.s3.amazonaws.com/10.7910/DVN/TJCLKP/1857969e99e-4f2e20cc0a46.orig?response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%272023-01-03.tsv&response-content-type=text%2Ftsv&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20240712T220120Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=AKIAIEJ3NV7UYCSRJC7A%2F20240712%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=3dc09fbd7a11758380965888381fd82589b3ec9dd75bb2fb30dbbed0d624e815
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://dvn-cloud.s3.amazonaws.com/10.7910/DVN/TJCLKP/1857969e99e-4f2e20cc0a46.orig?response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%272023-01-03.tsv&response-content-type=text%2Ftsv&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20240712T220120Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=AKIAIEJ3NV7UYCSRJC7A%2F20240712%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=3dc09fbd7a11758380965888381fd82589b3ec9dd75bb2fb30dbbed0d624e815
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/xml
      x-amz-request-id:
      - Q55P58BAPC31VEQ1
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
      Range:
      - bytes=0-100
    method: GET
    uri: https://dataverse.harvard.edu/api/access/datafile/6867331?format=original
  response:
    body:
      string: ''
    headers:
      Location:
      - https://dvn-cloud.s3.amazonaws.com/10.7910/DVN/TJCLKP/1857969e99e-4f2e20cc0a46.orig?response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%272023-01-03.tsv&response-content-type=text%2Ftsv&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20240712T220120Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=AKIAIEJ3NV7UYCSRJC7A%2F20240712%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=3dc09fbd7a11758380965888381fd82589b3ec9dd75bb2fb30dbbed0d624e815
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
      Range:
      - bytes=0-100
    method: GET
    uri: https://dvn-cloud.s3.amazonaws.com/10.7910/DVN/TJCLKP/1857969e99e-4f2e20cc0a46.orig?response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%272023-01-03.tsv&response-content-type=text%2Ftsv&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20240712T220120Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=AKIAIEJ3NV7UYCSRJC7A%2F20240712%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=3dc09fbd7a11758380965888381fd82589b3ec9dd75bb2fb30dbbed0d624e815
  response:
    body:
      string: "stars\tlanguage\tupdated\tissues\tsize\tforks\twatchers\trepo\tcreated\tdescription\n732\tJava\t2023-01-03\t1345\t1"
    headers:
      Content-Disposition:
      - attachment; filename*=UTF-8''2023-01-03.tsv
      Content-Range:
      - bytes 0-100/21119
      Content-Type:
      - text/tsv
      ETag:
      - '"6fd497bf13dab9a06fe737ebc22f1917"'
      Last-Modified:
      - Tue, 03 Jan 2023 20:54:28 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-request-id:
      - Q55T76EVY04MX97N
      x-amz-server-side-encryption:
      - AES256
      x-amz-version-id:
      - .DvKj7gMsqPyi8aZUWHVUX.qssZA10Ey
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dataverse.harvard.edu/api/access/datafile/6867331
  response:
    body:
      string: "stars\tlanguage\tupdated\tissues\tsize\tforks\twatchers\trepo\tcreated\tdescription\n732\t\"Java\"\t2023-01-03\t1345\t123092\t411\t732\t\"https://github.com/IQSS/dataverse\"\t2013-11-01\t\"Open
        source research data repository software\"\n675\t\"Python\"\t2022-12-23\t450\t50868\t149\t675\t\"https://github.com/glue-viz/glue\"\t2011-0[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: http://use.yt/upload/9241131f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://use.yt/upload/9241131f
    status:
      code: 308
      message: Permanent Redirect
- request:
    body: null
    headers:
    method: GET
    uri: https://dataverse.harvard.edu/api/datasets/:persistentId?persistentId=doi:10.7910/DVN/CR02PG
  response:
    body:
      string: "{\"status\":\"OK\",\"data\":{\"id\":48000,\"identifier\":\"DVN/CR02PG\",\"persistentUrl\":\"https://doi.org/10.7910/DVN/CR02PG\",\"protocol\":\"doi\",\"authority\":\"10.7910\",\"publisher\":\"Harvard
        Dataverse\",\"publicationDate\":\"2009-12-07\",\"storageIdentifier\":\"s3://1902.1/00709\",\"latestVersion\":{\"id\":348348,\"datasetId\":48000,\"datasetPersistentId\":\"doi:10.7910/DVN/CR02PG\",\"storageIdentifier\":\"s3://1902.1/00709\",\"versionNumber\":9,\"versionMinorNumber\":0,\"versionState\":\"RELEASED\",\"distributionDate\":\"1988\",\"lastUpdateTime\":\"2023-07-31T16:14:07Z\",\"releaseTime\":\"2023-07-31T16:14:07Z\",\"createTime\":\"2023-07-31T16:12:38Z\",\"alternativePersistentId\":\"hdl:1902.1/00709\",\"publicationDate\":\"2009-12-07\",\"termsOfUse\":\"<div
        style=\\\"padding-left: 30px;\\\"> <ul style=\\\"list-style-type: decimal;\\\"
        ><li> The Murray Archive (the Distributor) has granted me a revocable license
        to use this dataset solely for the purposes of conducting research, and the
        Distributor may terminate this license at any time and for any reason. </li>
        <li> I will use the dataset solely for statistical analysis and reporting
        of aggregated information, and not for investigation of specific individuals
        or organizations, except when identification is authorized in writing by the
      [...]
