interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://doi.org/10.5281/zenodo.3459420
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://zenodo.org/record/3459420
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: HEAD
    uri: https://zenodo.org/record/3459420
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      location:
      - /records/3459420
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '132'
      x-ratelimit-reset:
      - '1720808541'
    status:
      code: 301
      message: MOVED PERMANENTLY
- request:
    body: null
    headers:
    method: HEAD
    uri: https://zenodo.org/records/3459420
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      link:
      - <https://zenodo.org/api/records/3459420> ; rel="linkset" ; type="application/linkset+json"
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '131'
      x-ratelimit-reset:
      - '1720808541'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://iqss.github.io/dataverse-installations/data/data.json
  response:
    body:
      string: "{\n  \"installations\": [\n    {\n      \"name\": \"Abacus\",\n      \"description\":
        \"Open for researchers associated with British Columbia universities to deposit
        data.\",\n      \"lat\": 49.259982,\n      \"lng\": -123.250212,\n      \"hostname\":
        \"abacus.library.ubc.ca\",\n      \"metrics\": true,\n      \"launch_year\":
        \"2014\",\n      \"country\": \"Canada\",\n      \"continent\": \"North America\",\n
        \     \"harvesting_sets\": [\n        \"abacus_open\"\n      ],\n      \"gdcc_member\":
        false,\n      \"doi_authority\": \"\\u2415\",\n      \"contact_email\": \"abacus.support@ubc.ca\"\n
        \   },\n    {\n      \"name\": \"ACSS Dataverse\",\n      \"description\":
        \"The ACSS Dataverse is an initiative of the Arab Council for the Social Sciences,
        in collaboration with the Odum Institute for Research in Social Science at
        the University of North Carolina at Chapel Hill. The ACSS Dataverse contains
        social science datasets produced in Arab countries, with the goal of making
        data available for research in the re[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records/3459420
  response:
    body:
      string: '{"created": "2019-09-24T23:01:29.515343+00:00", "modified": "2020-01-24T19:25:15.275954+00:00",
        "id": 3459420, "conceptrecid": "1035252", "doi": "10.5281/zenodo.3459420",
        "conceptdoi": "10.5281/zenodo.1035252", "doi_url": "https://doi.org/10.5281/zenodo.3459420",
        "metadata": {"title": "A global network of biomedical relationships derived
        from text", "doi": "10.5281/zenodo.3459420", "publication_date": "2019-09-24",
        "description": "<p>This repository contains labeled, weighted networks of
        chemical-gene, gene-gene, gene-disease, and chemical-disease relationships
        based on single sentences in PubMed abstracts. All raw dependency paths are
        provided in addition to the labeled relationships.</p>\n\n<p>PART I: Connects
        dependency paths to labels, or &quot;themes&quot;. Each record contains a
        dependency path followed by its score for each theme, and indicators of whether
        or not the path is part of the flagship path set for each theme (meaning that
        it was manually reviewed and determined to reflect that theme). The themes
        themselves are listed below and are in our paper (reference below).</p>\n\n<p>PART
        II: Connects sentences to dependency paths. It consists of sentences and associated
        metadata, entity pairs found in the sentences, and dependency paths connecting
        those entity pairs. Each record contains the following information:</p>\n\n<ul>\n\t<li>PubMed
        ID</li>\n\t<li>Sentence number (0 = title)</li>\n\t<li>First entity name,
        formatted</li>\n\t<li>First entity name, location (characters from start of
        abstract)</li>\n\t<li>Second entity name, formatted</li>\n\t<li>Second entity
        name, location</li>\n\t<li>First entity name, raw string</li>\n\t<li>Second
        entity name, raw string</li>\n\t<li>First entity name, database ID(s)</li>\n\t<li>Second
        entity name, database ID(s)</li>\n\t<li>First entity type (Chemical, Gene,
        Disease)</li>\n\t<li>Second entity type (Chemical, Gene, Disease)</li>\n\t<li>Dependency
        path</li>\n\t<li>Sentence, tokenized</li>\n</ul>\n\n<p>The &quot;with-themes.txt&quot;
        files only contain dependency paths with corresponding theme assignments from
        Part I. The plain &quot;.txt&quot; files contain all dependency paths.</p>\n\n<p>This
        release contains the annotated network for the&nbsp;<strong>September 15,
        2019&nbsp;version of PubTator</strong>. The version discussed in our paper,
        below, is an older one - from April 30, 2016. If you&#39;re interested in
        that network, it can be found in Version 1 of this repository.&nbsp;We will
        be releasing updated networks periodically, as the PubTator community continues
        to release new versions of named entity annotations for Medline each month
        or so.</p>\n\n<p>------------------------------------------------------------------------------------<br>\nREFERENCES</p>\n\n<p>Percha
        B, Altman RBA (2017) A global network of biomedical relationships derived
        from text. <em>Bioinformatics,&nbsp;</em>34(15): 2614-2624.<br>\nPercha B,
        Altman RBA (2015) Learning the structure of biomedical relationships from
        unstructured text. <em>PLoS Computational Biology,</em> 11(7): e1004216.</p>\n\n<p>This
        project depends on named entity annotations from the PubTator project:<br>\nhttps://www.ncbi.nlm.nih.gov/CBBresearch/Lu/Demo/PubTator/</p>\n\n<p>Reference:<br>\nWei
        CH et. al., PubTator: a Web-based text mining tool for assisting Biocuration,
        Nucleic acids research, 2013, 41 (W1): W518-W522.</p>\n\n<p>Dependency parsing
        was provided by the Stanford CoreNLP toolkit (<strong>version 3.9.1</strong>):<br>\nhttps://stanfordnlp.github.io/CoreNLP/index.html</p>\n\n<p>Reference:<br>\nManning,
        Christopher D., Mihai Surdeanu, John Bauer, Jenny Finkel, Steven J. Bethard,
        and David McClosky. 2014. The Stanford CoreNLP Natural Language Processing
        Toolkit In Proceedings of the 52nd Annual Meeting of the Association for Computational
        Linguistics: System Demonstrations, pp. 55-60.</p>\n\n<p>------------------------------------------------------------------------------------<br>\nTHEMES</p>\n\n<p><strong>chemical-gene</strong><br>\n(A+)
        agonism, activation<br>\n(A-) antagonism, blocking<br>\n(B) binding, ligand
        (esp. receptors)<br>\n(E+) increases expression/production<br>\n(E-) decreases
        expression/production<br>\n(E) affects expression/production (neutral)<br>\n(N)
        inhibits</p>\n\n<p><strong>gene-chemical[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records/3463499
  response:
    body:
      string: '{"created": "2019-09-27T15:17:47.295427+00:00", "modified": "2023-09-18T07:43:34.361327+00:00",
        "id": 3463499, "conceptrecid": "3462714", "doi": "10.5281/zenodo.3463499",
        "conceptdoi": "10.5281/zenodo.3462714", "doi_url": "https://doi.org/10.5281/zenodo.3463499",
        "metadata": {"title": "jbferet/biodivMapR: v1.0.1", "doi": "10.5281/zenodo.3463499",
        "publication_date": "2019-09-27", "description": "biodivMapR v1.0.1 (Release
        date: 2019-09-27)\n<p>Added NEWS.md\nUpdated README.md: transfered from gitlab.irstea
        to github\nchanged return() into return(invisible())\nupdated vignettes &amp;
        tutorial with latest outputs and figures from code</p>", "access_right": "open",
        "creators": [{"name": "floriandeboissieu", "affiliation": null}], "related_identifiers":
        [{"identifier": "https://github.com/jbferet/biodivMapR/tree/v1.0.1", "relation":
        "isSupplementTo", "scheme": "url"}], "version": "v1.0.1", "resource_type":
        {"title": "Software", "type": "software"}, "license": {"id": "other-open"},
        "relations": {"version": [{"index": 1, "is_last": false, "parent": {"pid_type":
        "recid", "pid_value": "3462714"}}]}}, "title": "jbferet/biodivMapR: v1.0.1",
        "links": {"self": "https://zenodo.org/api/records/3463499", "self_html": "https://zenodo.org/records/3463499",
        "self_doi": "https://zenodo.org/doi/10.5281/zenodo.3463499", "doi": "https://doi.org/10.5281/zenodo.3463499",
        "parent": "https://zenodo.org/api/records/3462714", "parent_html": "https://zenodo.org/records/3462714",
        "parent_doi": "https://zenodo.org/doi/10.5281/zenodo.3462714", "self_iiif_manifest":
        "https://zenodo.org/api/iiif/record:3463499/manifest", "self_iiif_sequence":
        "https://zenodo.org/api/iiif/record:3463499/sequence/default", "files": "https://zenodo.org/api/records/3463499/files",
        "media_files": "https://zenodo.org/api/records/3463499/media-files", "archive":
        "https://zenodo.org/api/records/3463499/files-archive", "archive_media": "https://zenodo.org/api/records/3463499/media-files-archive",
        "latest": "https://zenodo.org/api/records/3463499/versions/latest", "latest_html":
        "https://zenodo.org/records/3463499/latest", "draft": "https://zenodo.org/api/records/3463499/draft",
        "versions": "https://zenodo.org/api/records/3463499/versions", "access_links":
        "https://zenodo.org/api/records/3463499/access/links", "access_grants": "https://zenodo.org/api/records/3463499/access/grants",
        "access_users": "https://zenodo.org/api/records/3463499/access/users", "access_request":
        "https://zenodo.org/api/records/3463499/access/request", "access": "https://zenodo.org/api/records/3463499/access",
        "reserve_doi": "https://zenodo.org/api/records/3463499/draft/pids/doi", "communities":
        "https://zenodo.org/api/records/3463499/communities", "communities-suggestions":
        "https://zenodo.org/api/records/3463499/communities-suggestions", "requests":
        "https://zenodo.org/api/records/3463499/requests"}, "updated": "2023-09-18T07:43:34.361327+00:00",
        "recid": "3463499", "revision": 19, "files": [{"id": "81bcbaa7-5c0e-4598-a08f-a31023c2b820",
        "key": "jbferet/biodivMapR-v1.0.1.zip", "size": 24692383, "checksum": "md5:131225ba8fd81a5a2f4f50a191a1504e",
        "links": {"self": "https://zenodo.org/api/records/3463499/files/jbferet/biodivMapR-v1.0.1.zip/content"}}],
        "owners": [{"id": "77934"}], "status": "published", "stats": {"downloads":
        145, "unique_downloads": 117, "views": 762, "unique_views": 717, "version_downloads":
        85, "version_unique_downloads": 60, "version_unique_views": 265, "version_views":
        289}, "state": "done", "submitted": true}'
    headers:
      content-type:
      - application/vnd.zenodo.v1+json
      etag:
      - '"19"'
      link:
      - <https://zenodo.org/api/records/3463499> ; rel="linkset" ; type="application/linkset+json"
      retry-after:
      - '4'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '128'
      x-ratelimit-reset:
      - '1720808487'
    status:
      code: 200
      message: OK
[...]
