interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dataverse.harvard.edu/api/datasets/:persistentId?persistentId=doi:10.7910/DVN/26721
  response:
    body:
      string: "{\"status\":\"OK\",\"data\":{\"id\":53039,\"identifier\":\"DVN/26721\",\"persistentUrl\":\"https://doi.org/10.7910/DVN/26721\",\"protocol\":\"doi\",\"authority\":\"10.7910\",\"publisher\":\"Harvard
        Dataverse\",\"publicationDate\":\"2014-07-16\",\"storageIdentifier\":\"s3://10.7910/DVN/26721\",\"latestVersion\":{\"id\":78159,\"datasetId\":53039,\"datasetPersistentId\":\"doi:10.7910/DVN/26721\",\"storageIdentifier\":\"s3://10.7910/DVN/26721\",\"versionNumber\":2,\"versionMinorNumber\":2,\"versionState\":\"RELEASED\",\"distributionDate\":\"2014\",\"UNF\":\"UNF:5:Ocw6d2MucSLDhlthYOwevQ==\",\"lastUpdateTime\":\"2015-11-18T18:07:52Z\",\"releaseTime\":\"2015-11-18T18:07:52Z\",\"createTime\":\"2015-11-18T18:07:33Z\",\"publicationDate\":\"2014-07-16\",\"citationDate\":\"2014-07-16\",\"license\":{\"name\":\"CC0
        1.0\",\"uri\":\"http://creativecommons.org/publicdomain/zero/1.0\",\"iconUri\":\"https://licensebuttons.net/p/zero/1.0/88x31.png\"},\"fileAccessRequest\":false,\"metadataBlocks\":{\"citation\":{\"displayName\":\"Citation
        Metadata\",\"name\":\"citation\",\"fields\":[{\"typeName\":\"title\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"Replication
        data for: Priming Predispositions and Changing Policy Positions\"},{\"typeName\":\"subtitle\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"An
        Account of When Mass Opinion Is Primed or Changed\"},{\"typeName\":\"author\",\"multiple\":true,\"typeClass\":\"compound\",\"value\":[{\"authorName\":{\"typeName\":\"authorName\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"Tesler,
        Michael\"},\"authorAffiliation\":{\"typeName\":\"authorAffiliation\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"UC
        Irvine\"}}]},{\"typeName\":\"datasetContact\",\"multiple\":true,\"typeClass\":\"compound\",\"value\":[{\"datasetContactName\":{\"typeName\":\"datasetContactName\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"Michael
        Tesler\"},\"datasetContactAffiliation\":{\"typeName\":\"datasetContactAffiliation\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"UC
        Irvine\"},\"datasetContactEmail\":{\"typeName\":\"datasetContactEmail\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"mtesler2@gmail.com\"}}]},{\"typeName\":\"dsDescription\",\"multiple\":true,\"typeClass\":\"compound\",\"value\":[{\"dsDescriptionValue\":{\"typeName\":\"dsDescriptionValue\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"Prior
        research provides limited insights into when political communications prime
        or change citizens\u2019 underlying opinions.  This paper helps fill that
        void by putting forth an account of priming and opinion change.  I argue that
        crystallized attitudes should often be primed by new information.  An influx
        of attention to less crystalized preferences, however, should lead individuals
        to alter their underlying opinions in accordance with prior beliefs.  Since
        predispositions acquired early in the lifecycle like partisanship, religiosity,
        basic values, and group-based affect/antagonisms are more crystallized than
        mass opinion about public policy, media and campaign content will tend to
        prime citizens\u2019 predispositions and change their policy positions.  Both
        my review of previous priming research and original analyses presented in
        this study from five new cases strongly support that crystallization-based
        account of when mass opinion is primed or changed.  I conclude with a discussion
        of the paper\u2019s potential political, methodological, and normative implications.\"},\"dsDescriptionDate\":{\"typeName\":\"dsDescriptionDate\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"2015\"}}]},{\"typeName\":\"subject\",\"multiple\":true,\"typeClass\":\"controlledVocabulary\",\"value\":[\"Social
        Sciences\"]},{\"typeName\":\"keyword\",\"multiple\":true,\"typeClass\":\"compound\",\"value\":[{\"keywordValue\":{\"typeName\":\"keywordValue\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"Priming\"}},{\"keywordValue\":{\"typeName\":\"keywordValue\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"Opinion
        change\"}}]},{\"typeName\":\"topicClassification\",\"multiple\":true,\"typeClass\":\"compound\",\"value\":[{\"topicClassValue\":{\"typeName\":\"topicClassValue\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"Public
        Opinion\"}}]},{\"typeName\":\"publication\",\"multiple\":true,\"typeClass\":\"compound\",\"value\":[{\"publicationCitation\":{\"typeName\":\"publicationCitation\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"Tesler,
        Michael. 2015. \u201CPriming Predispositions and Changing Policy Positions:
        An Account of When Mass Opinion Is Primed or Changed.\u201D <i>American Journal
        of Political Science</i> 59 (4): 806-824.\"},\"publicationIDType\":{\"typeName\":\"publicationIDType\",\"multiple\":false,\"typeClass\":\"controlledVocabulary\",\"value\":\"doi\"},\"publicationIDNumber\":{\"typeName\":\"publicationIDNumber\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"10.1111/ajps.12157\"},\"publicationURL\":{\"typeName\":\"publicationURL\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"http://dx.doi.org/10.1111/ajps.12157\"}}]},{\"typeName\":\"notesText\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"Version
        Date: 2014Version Text: 1.0\"},{\"typeName\":\"producer\",\"multiple\":true,\"typeClass\":\"compound\",\"value\":[{\"producerName\":{\"typeName\":\"producerName\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"Michael
        Tesler\"},\"producerAffiliation\":{\"typeName\":\"producerAffiliation\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"UC
        Irvine\"}}]},{\"typeName\":\"distributionDate\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"2014\"},{\"typeName\":\"depositor\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"Michael
        Tesler\"},{\"typeName\":\"dateOfDeposit\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"2014-07-15\"},{\"typeName\":\"timePeriodCovered\",\"multiple\":true,\"typeClass\":\"compound\",\"value\":[{\"timePeriodCoveredStart\":{\"typeName\":\"timePeriodCoveredStart\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"1956\"},\"timePeriodCoveredEnd\":{\"typeName\":\"timePeriodCoveredEnd\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"2012\"}}]},{\"typeName\":\"dateOfCollection\",\"multiple\":true,\"typeClass\":\"compound\",\"value\":[{\"dateOfCollectionStart\":{\"typeName\":\"dateOfCollectionStart\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"1956\"},\"dateOfCollectionEnd\":{\"typeName\":\"dateOfCollectionEnd\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"2012\"}}]},{\"typeName\":\"kindOfData\",\"multiple\":true,\"typeClass\":\"primitive\",\"value\":[\"Survey
        Data\"]}]},\"geospatial\":{\"displayName\":\"Geospatial Metadata\",\"name\":\"geospatial\",\"fields\":[{\"typeName\":\"geographicCoverage\",\"multiple\":true,\"typeClass\":\"compound\",\"value\":[{\"country\":{\"typeName\":\"country\",\"multiple\":false,\"typeClass\":\"controlledVocabulary\",\"value\":\"United
        States\"}}]}]},\"socialscience\":{\"displayName\":\"Social Science and Humanities
        Metadata\",\"name\":\"socialscience\",\"fields\":[{\"typeName\":\"universe\",\"multiple\":true,\"typeClass\":\"primitive\",\"value\":[\"National
        Adult\"]}]},\"journal\":{\"displayName\":\"Journal Metadata\",\"name\":\"journal\",\"fields\":[{\"typeName\":\"journalVolumeIssue\",\"multiple\":true,\"typeClass\":\"compound\",\"value\":[{\"journalVolume\":{\"typeName\":\"journalVolume\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"59\"},\"journalIssue\":{\"typeName\":\"journalIssue\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"4\"},\"journalPubDate\":{\"typeName\":\"journalPubDate\",\"multiple\":false,\"typeClass\":\"primitive\",\"value\":\"2015\"}}]}]}},\"files\":[{\"description\":\"Stata
        Do file to reproduce results in Study 1\",\"label\":\"1960p_do.do\",\"restricted\":false,\"version\":2,\"datasetVersionId\":78159,\"categories\":[\"Documentation\"],\"dataFile\":{\"id\":2481755,\"persistentId\":\"doi:10.7910/DVN/26721/3CLDVV\",\"pidURL\":\"https://doi.org/10.7910/DVN/26721/3CLDVV\",\"filename\":\"1960p_do.do\",\"contentType\":\"text/x-stata-syntax;
        charset=US-ASCII\",\"friendlyType\":\"Stata Syntax\",\"filesize\":2550,\"description\":\"Stata
        Do file to reproduce results in Study 1\",\"categories\":[\"Documentation\"],\"storageIdentifier\":\"s3://dvn-cloud:213221\",\"rootDataFileId\":-1,\"md5\":\"728889b1aae49068ed39b73852584b67\",\"checksum\":{\"type\":\"MD5\",\"value\":\"728889b1aae49068ed39b73852584b67\"},\"tabularData\":false,\"creationDate\":\"2014-07-15\",\"publicationDate\":\"2014-07-15\",\"fileAccessRequest\":false}},{\"description\":\"1956-1960
        ANES Panel Data used in Study 1\",\"label\":\"1960p.tab\",\"restricted\":false,\"version\":2,\"datasetVersionId\":78159,\"categories\":[\"Data\"],\"dataFile\":{\"id\":2481751,\"persistentId\":\"doi:10.7910/DVN/26721/IB7QUC\",\"pidURL\":\"https://doi.org/10.7910/DVN/26721/IB7QUC\",\"filename\":\"1960p.tab\",\"contentType\":\"text/tab-separated-values\",\"friendlyType\":\"Tab-Delimited\",\"filesize\":5248612,\"description\":\"1956-1960
        ANES Panel Data used in Study 1\",\"categories\":[\"Data\"],\"storageIdentifier\":\"s3://dvn-cloud:213216\",\"originalFileFormat\":\"application/x-spss-por\",\"originalFormatLabel\":\"SPSS
        Portable\",\"originalFileSize\":5148286,\"originalFileName\":\"1960p.por\",\"UNF\":\"UNF:5:huSZFTmWVoq2iBGk7hNYjg==\",\"rootDataFileId\":-1,\"md5\":\"ca547c6f7de1eb1fc2ff643c531b95a0\",\"checksum\":{\"type\":\"MD5\",\"value\":\"ca547c6f7de1eb1fc2ff643c531b95a0\"},\"tabularData\":true,\"creationDate\":\"2014-07-15\",\"publicationDate\":\"2014-07-15\",\"fileAccessRequest\":false}},{\"description\":\"Stata
        Do file to reproduce results in Study 2\",\"label\":\"2004p_do.do\",\"restricted\":false,\"version\":2,\"datasetVersionId\":78159,\"categories\":[[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://dataverse.icrisat.org/api/datasets/:persistentId?persistentId=doi:10.21421/D2/TCCVS7
  response:
    body:
      string: '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <html><head>

        <title>301 Moved Permanently</title>

        </head><body>

        <h1>Moved Permanently</h1>

        <p>The document has moved <a href="https://dataverse.icrisat.org:443/api/datasets/:persistentId?persistentId=doi:10.21421/D2/TCCVS7">here</a>.</p>

        </body></html>

        '
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - https://dataverse.icrisat.org:443/api/datasets/:persistentId?persistentId=doi:10.21421/D2/TCCVS7
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://dataverse.icrisat.org/api/datasets/:persistentId?persistentId=doi:10.21421/D2/TCCVS7
  response:
    body:
      string: "{\"status\":\"OK\",\"data\":{\"id\":6220,\"identifier\":\"D2/TCCVS7\",\"persistentUrl\":\"https://doi.org/10.21421/D2/TCCVS7\",\"protocol\":\"doi\",\"authority\":\"10.21421\",\"publisher\":\"ICRISAT
        Dataverse\",\"publicationDate\":\"2019-12-12\",\"storageIdentifier\":\"file://10.21421/D2/TCCVS7\",\"latestVersion\":{\"id\":1690,\"datasetId\":6220,\"datasetPersistentId\":\"doi:10.21421/D2/TCCVS7\",\"storageIdentifier\":\"file://10.21421/D2/TCCVS7\",\"versionNumber\":1,\"versionMinorNumber\":0,\"versionState\":\"RELEASED\",\"productionDate\":\"2017\",\"UNF\":\"UNF:6:/cyWF4oOLt6EG5xO4ztclA==\",\"lastUpdateTime\":\"2019-12-11T23:21:09Z\",\"releaseTime\":\"2019-12-11T23:21:09Z\",\"createTime\":\"2019-11-19T16:30:01Z\",\"license\":\"NONE\",\"termsOfUse\":\"<img
        src =\\\"https://licensebuttons.net/l/by/4.0/88x31.png\\\"/>These data and
        documents are licensed under a Creative Commons Attribution 4.0 International
        license. You are free to copy, distribute and transmit the data as long as
        you acknowledge the ICRISAT through DOI provided in this page. While utmost
        care has been taken by ICRISAT and data authors while collecting and compiling
        the data, the data is however offered \\\"as it is\\\" with no[...]
